body {
  font-family: 'Roboto', sans-serif;
}

.home-form {
  margin-left: auto;
  margin-right: auto;
}

.sidenav {
  text-align: center;
}

.wrapper {
  padding-left: 256px;
}

.subject {display:inline-block;margin-right:10px;}
.description {display:inline-block;}